<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Forum</title>
<link
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

/* Set black background color, white text and some padding */
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #555;
	color: white;
	padding: 15px;
}
</style>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/index">Forum</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="/index">Home</a></li>
					<li><a href="/search">Search</a></li>
					<li th:if="${sessionUser.getId() != null}"><a href="/archivation">Archivation</a></li>
					<li th:if="${sessionUser.getId() != null and sessionUser.getUserRole().name() == 'ADMIN'}"><a href="/users">Users</a></li>
					<li th:if="${sessionUser.getId() != null and sessionUser.getUserRole().name() == 'ADMIN'}"><a href="/category">Categories</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li th:if="${sessionUser.getId() == null}"><a href="/login"><span
							class="glyphicon glyphicon-log-in"></span> Login</a></li>
					<li th:if="${sessionUser.getId() != null}"><a href="/user-info"><span
							class="glyphicon glyphicon-user"></span> User info</a></li>
					<li th:if="${sessionUser.getId() != null}"><a href="/logout"><span
							class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<h4>Sign in</h4>
		<form role="form" action="#" th:action="@{/login}" th:object="${sessionUser}" method="post">
			<div class="form-group">
				<label for="login">Login:</label>
				<label th:if="${userWasBlocked != null}" for="login" th:text="${userWasBlocked}" style="color: red;"></label>
				<input type="text" class="form-control" th:field="*{login}" id="login" placeholder="Enter login" required="required"></input>
			</div>
			<div class="form-group">
				<label for="pwd">Password:</label>
				<input type="password" class="form-control" th:field="*{password}" id="pwd" placeholder="Enter password" required="required"></input>
			</div>
			<div class="form-group">
				<a href="registration"><span class="glyphicon glyphicon-plus-sign"></span> I don't have an account</a>
			</div>
			<button type="submit" class="btn btn-default">Sign in</button>
		</form>
	</div>

	<footer class="container-fluid text-center">
		<p>Copyright © 2016 Ivan Khalupko</p>
		<p>All rights reserved.</p>
	</footer>
</body>
</html>